 <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Lowe's Assessment">
    <title>[Sriharsha Daram] - Interview Test</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
</head>
<body>
    <!--<div class="page-wrap">-->
    <div id="productsContainer">
        
        {{#each productList}}
        <div class="product">
            <div class="image-column">
                <img src="{{imageUrls.md}}">
            </div>
            <div class="description-column">
                <h2><span class="description">{{brand}} {{description}}</span></h2>
            </div>
            <div class="price-column">
                ${{pricing.price.selling}}
            </div>
            <a class="myButton" href="#">VIEW MORE</a>
        </div>
        <!--<div class="description-column"> 
              <h2>{{brand}} <span class="description">{{description}}</span></h2>
          </div>-->
        {{/each}}
    </div>
    <!--</div>-->
    
</body>
</html>